/*ESTILOS BARRA LATERAL*/

.lateral{
    grid-area: lateral;
    background: #f6f7f9;
    border-left: 1px solid #ddd;
    padding: 20px;
}

.lateral > div{
    box-sizing: border-box;
    width: 90%;
    margin: 20px;
    padding: 20px;
    padding-top: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #ddd;
}

.lateral input[type="text"],
.lateral input[type="text"],
.lateral textarea,
.edit_form input[type="text"],
.edit_form input[type="text"],
.edit_form textarea
{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding: 12px;
    border-radius: 5px;
    background: #f6f7f9;
    color: #454545;
    width: 80%;
    opacity: 4;
    outline: 0;
    border-color: transparent;
}